.vscode/settings.json
tmp/vscode/build/.ninja_deps
tmp/vscode/build/.ninja_log
tmp/vscode/build/build.ninja
tmp/vscode/build/cmake_install.cmake
tmp/vscode/build/CMakeCache.txt
tmp/vscode/build/compile_commands.json
tmp/vscode/build/frame.yuv
tmp/vscode/build/twebrtc
tmp/vscode/build/.cmake/api/v1/query/client-vscode/query.json
tmp/vscode/build/.cmake/api/v1/reply/cache-v2-703d9a33db799c62ae13.json
tmp/vscode/build/.cmake/api/v1/reply/cmakeFiles-v1-d17a9cbec196deae96f5.json
tmp/vscode/build/.cmake/api/v1/reply/codemodel-v2-2772cee8d9c39453a30c.json
tmp/vscode/build/.cmake/api/v1/reply/directory-.-Release-f5ebdc15457944623624.json
tmp/vscode/build/.cmake/api/v1/reply/index-2025-12-11T09-59-38-0642.json
tmp/vscode/build/.cmake/api/v1/reply/target-twebrtc_autogen_timestamp_deps-Release-927b9d5eaf6819a4c150.json
tmp/vscode/build/.cmake/api/v1/reply/target-twebrtc_autogen-Release-0f78eb7ad6aae25697d5.json
tmp/vscode/build/.cmake/api/v1/reply/target-twebrtc-Release-71f2afbd3e44a3ff7e77.json
tmp/vscode/build/.cmake/api/v1/reply/toolchains-v1-2e21d11581d5d96c6fe7.json
tmp/vscode/build/CMakeFiles/clean_additional.cmake
tmp/vscode/build/CMakeFiles/cmake.check_cache
tmp/vscode/build/CMakeFiles/CMakeConfigureLog.yaml
tmp/vscode/build/CMakeFiles/InstallScripts.json
tmp/vscode/build/CMakeFiles/rules.ninja
tmp/vscode/build/CMakeFiles/TargetDirectories.txt
tmp/vscode/build/CMakeFiles/4.1.1/CMakeCCompiler.cmake
tmp/vscode/build/CMakeFiles/4.1.1/CMakeCXXCompiler.cmake
tmp/vscode/build/CMakeFiles/4.1.1/CMakeDetermineCompilerABI_C.bin
tmp/vscode/build/CMakeFiles/4.1.1/CMakeDetermineCompilerABI_CXX.bin
tmp/vscode/build/CMakeFiles/4.1.1/CMakeSystem.cmake
tmp/vscode/build/CMakeFiles/4.1.1/CompilerIdC/a.out
tmp/vscode/build/CMakeFiles/4.1.1/CompilerIdC/CMakeCCompilerId.c
tmp/vscode/build/CMakeFiles/4.1.1/CompilerIdCXX/a.out
tmp/vscode/build/CMakeFiles/4.1.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
tmp/vscode/build/CMakeFiles/twebrtc.dir/main.cpp.o
tmp/vscode/build/CMakeFiles/twebrtc.dir/module/MyPeerObserver.cpp.o
tmp/vscode/build/CMakeFiles/twebrtc.dir/module/pushclient.cpp.o
tmp/vscode/build/CMakeFiles/twebrtc.dir/module/signaling_client.cpp.o
tmp/vscode/build/CMakeFiles/twebrtc.dir/module/SimplePeer.cpp.o
tmp/vscode/build/CMakeFiles/twebrtc.dir/module/WebsocketClient.cpp.o
tmp/vscode/build/CMakeFiles/twebrtc.dir/twebrtc_autogen/mocs_compilation.cpp.o
tmp/vscode/build/CMakeFiles/twebrtc.dir/ui/widg.cpp.o
tmp/vscode/build/CMakeFiles/twebrtc_autogen.dir/AutogenInfo.json
tmp/vscode/build/CMakeFiles/twebrtc_autogen.dir/AutogenUsed.txt
tmp/vscode/build/CMakeFiles/twebrtc_autogen.dir/ParseCache.txt
tmp/vscode/build/lib/libicudata.so
tmp/vscode/build/lib/libicudata.so.56
tmp/vscode/build/lib/libicudata.so.56.1
tmp/vscode/build/lib/libicui18n.so
tmp/vscode/build/lib/libicui18n.so.56
tmp/vscode/build/lib/libicui18n.so.56.1
tmp/vscode/build/lib/libicuuc.so
tmp/vscode/build/lib/libicuuc.so.56
tmp/vscode/build/lib/libicuuc.so.56.1
tmp/vscode/build/lib/libQt5Concurrent.so
tmp/vscode/build/lib/libQt5Concurrent.so.5
tmp/vscode/build/lib/libQt5Concurrent.so.5.15
tmp/vscode/build/lib/libQt5Concurrent.so.5.15.2
tmp/vscode/build/lib/libQt5Core.so
tmp/vscode/build/lib/libQt5Core.so.5
tmp/vscode/build/lib/libQt5Core.so.5.15
tmp/vscode/build/lib/libQt5Core.so.5.15.2
tmp/vscode/build/lib/libQt5DBus.so
tmp/vscode/build/lib/libQt5DBus.so.5
tmp/vscode/build/lib/libQt5DBus.so.5.15
tmp/vscode/build/lib/libQt5DBus.so.5.15.2
tmp/vscode/build/lib/libQt5Gui.so
tmp/vscode/build/lib/libQt5Gui.so.5
tmp/vscode/build/lib/libQt5Gui.so.5.15
tmp/vscode/build/lib/libQt5Gui.so.5.15.2
tmp/vscode/build/lib/libQt5Multimedia.so
tmp/vscode/build/lib/libQt5Multimedia.so.5
tmp/vscode/build/lib/libQt5Multimedia.so.5.15
tmp/vscode/build/lib/libQt5Multimedia.so.5.15.2
tmp/vscode/build/lib/libQt5MultimediaQuick.so
tmp/vscode/build/lib/libQt5MultimediaQuick.so.5
tmp/vscode/build/lib/libQt5MultimediaQuick.so.5.15
tmp/vscode/build/lib/libQt5MultimediaQuick.so.5.15.2
tmp/vscode/build/lib/libQt5Network.so
tmp/vscode/build/lib/libQt5Network.so.5
tmp/vscode/build/lib/libQt5Network.so.5.15
tmp/vscode/build/lib/libQt5Network.so.5.15.2
tmp/vscode/build/lib/libQt5OpenGL.so
tmp/vscode/build/lib/libQt5OpenGL.so.5
tmp/vscode/build/lib/libQt5OpenGL.so.5.15
tmp/vscode/build/lib/libQt5OpenGL.so.5.15.2
tmp/vscode/build/lib/libQt5PrintSupport.so
tmp/vscode/build/lib/libQt5PrintSupport.so.5
tmp/vscode/build/lib/libQt5PrintSupport.so.5.15
tmp/vscode/build/lib/libQt5PrintSupport.so.5.15.2
tmp/vscode/build/lib/libQt5Qml.so
tmp/vscode/build/lib/libQt5Qml.so.5
tmp/vscode/build/lib/libQt5Qml.so.5.15
tmp/vscode/build/lib/libQt5Qml.so.5.15.2
tmp/vscode/build/lib/libQt5QmlModels.so
tmp/vscode/build/lib/libQt5QmlModels.so.5
tmp/vscode/build/lib/libQt5QmlModels.so.5.15
tmp/vscode/build/lib/libQt5QmlModels.so.5.15.2
tmp/vscode/build/lib/libQt5QmlWorkerScript.so
tmp/vscode/build/lib/libQt5QmlWorkerScript.so.5
tmp/vscode/build/lib/libQt5QmlWorkerScript.so.5.15
tmp/vscode/build/lib/libQt5QmlWorkerScript.so.5.15.2
tmp/vscode/build/lib/libQt5Quick.so
tmp/vscode/build/lib/libQt5Quick.so.5
tmp/vscode/build/lib/libQt5Quick.so.5.15
tmp/vscode/build/lib/libQt5Quick.so.5.15.2
tmp/vscode/build/lib/libQt5QuickControls2.so
tmp/vscode/build/lib/libQt5QuickControls2.so.5
tmp/vscode/build/lib/libQt5QuickControls2.so.5.15
tmp/vscode/build/lib/libQt5QuickControls2.so.5.15.2
tmp/vscode/build/lib/libQt5QuickShapes.so
tmp/vscode/build/lib/libQt5QuickShapes.so.5
tmp/vscode/build/lib/libQt5QuickShapes.so.5.15
tmp/vscode/build/lib/libQt5QuickShapes.so.5.15.2
tmp/vscode/build/lib/libQt5QuickTemplates2.so
tmp/vscode/build/lib/libQt5QuickTemplates2.so.5
tmp/vscode/build/lib/libQt5QuickTemplates2.so.5.15
tmp/vscode/build/lib/libQt5QuickTemplates2.so.5.15.2
tmp/vscode/build/lib/libQt5Sql.so
tmp/vscode/build/lib/libQt5Sql.so.5
tmp/vscode/build/lib/libQt5Sql.so.5.15
tmp/vscode/build/lib/libQt5Sql.so.5.15.2
tmp/vscode/build/lib/libQt5Svg.so
tmp/vscode/build/lib/libQt5Svg.so.5
tmp/vscode/build/lib/libQt5Svg.so.5.15
tmp/vscode/build/lib/libQt5Svg.so.5.15.2
tmp/vscode/build/lib/libQt5WebSockets.so
tmp/vscode/build/lib/libQt5WebSockets.so.5
tmp/vscode/build/lib/libQt5WebSockets.so.5.15
tmp/vscode/build/lib/libQt5WebSockets.so.5.15.2
tmp/vscode/build/lib/libQt5Widgets.so
tmp/vscode/build/lib/libQt5Widgets.so.5
tmp/vscode/build/lib/libQt5Widgets.so.5.15
tmp/vscode/build/lib/libQt5Widgets.so.5.15.2
tmp/vscode/build/lib/libQt5X11Extras.so
tmp/vscode/build/lib/libQt5X11Extras.so.5
tmp/vscode/build/lib/libQt5X11Extras.so.5.15
tmp/vscode/build/lib/libQt5X11Extras.so.5.15.2
tmp/vscode/build/lib/libQt5XcbQpa.so
tmp/vscode/build/lib/libQt5XcbQpa.so.5
tmp/vscode/build/lib/libQt5XcbQpa.so.5.15
tmp/vscode/build/lib/libQt5XcbQpa.so.5.15.2
tmp/vscode/build/lib/libstdc++.so
tmp/vscode/build/lib/libstdc++.so.6
tmp/vscode/build/lib/libstdc++.so.6.0.32
tmp/vscode/build/plugins/assetimporters/libassimp.so.debug
tmp/vscode/build/plugins/assetimporters/libuip.so.debug
tmp/vscode/build/plugins/audio/libqtaudio_alsa.so
tmp/vscode/build/plugins/audio/libqtaudio_alsa.so.debug
tmp/vscode/build/plugins/audio/libqtmedia_pulse.so
tmp/vscode/build/plugins/audio/libqtmedia_pulse.so.debug
tmp/vscode/build/plugins/bearer/libqconnmanbearer.so
tmp/vscode/build/plugins/bearer/libqconnmanbearer.so.debug
tmp/vscode/build/plugins/bearer/libqgenericbearer.so
tmp/vscode/build/plugins/bearer/libqgenericbearer.so.debug
tmp/vscode/build/plugins/bearer/libqnmbearer.so
tmp/vscode/build/plugins/bearer/libqnmbearer.so.debug
tmp/vscode/build/plugins/canbus/libqtpassthrucanbus.so
tmp/vscode/build/plugins/canbus/libqtpassthrucanbus.so.debug
tmp/vscode/build/plugins/canbus/libqtpeakcanbus.so
tmp/vscode/build/plugins/canbus/libqtpeakcanbus.so.debug
tmp/vscode/build/plugins/canbus/libqtsocketcanbus.so
tmp/vscode/build/plugins/canbus/libqtsocketcanbus.so.debug
tmp/vscode/build/plugins/canbus/libqttinycanbus.so
tmp/vscode/build/plugins/canbus/libqttinycanbus.so.debug
tmp/vscode/build/plugins/canbus/libqtvirtualcanbus.so
tmp/vscode/build/plugins/canbus/libqtvirtualcanbus.so.debug
tmp/vscode/build/plugins/designer/libqquickwidget.so
tmp/vscode/build/plugins/designer/libqquickwidget.so.debug
tmp/vscode/build/plugins/designer/libqwebengineview.so
tmp/vscode/build/plugins/designer/libqwebengineview.so.debug
tmp/vscode/build/plugins/egldeviceintegrations/libqeglfs-emu-integration.so
tmp/vscode/build/plugins/egldeviceintegrations/libqeglfs-emu-integration.so.debug
tmp/vscode/build/plugins/egldeviceintegrations/libqeglfs-kms-egldevice-integration.so
tmp/vscode/build/plugins/egldeviceintegrations/libqeglfs-kms-egldevice-integration.so.debug
tmp/vscode/build/plugins/egldeviceintegrations/libqeglfs-x11-integration.so
tmp/vscode/build/plugins/egldeviceintegrations/libqeglfs-x11-integration.so.debug
tmp/vscode/build/plugins/gamepads/libevdevgamepad.so
tmp/vscode/build/plugins/gamepads/libevdevgamepad.so.debug
tmp/vscode/build/plugins/generic/libqevdevkeyboardplugin.so
tmp/vscode/build/plugins/generic/libqevdevkeyboardplugin.so.debug
tmp/vscode/build/plugins/generic/libqevdevmouseplugin.so
tmp/vscode/build/plugins/generic/libqevdevmouseplugin.so.debug
tmp/vscode/build/plugins/generic/libqevdevtabletplugin.so
tmp/vscode/build/plugins/generic/libqevdevtabletplugin.so.debug
tmp/vscode/build/plugins/generic/libqevdevtouchplugin.so
tmp/vscode/build/plugins/generic/libqevdevtouchplugin.so.debug
tmp/vscode/build/plugins/generic/libqtuiotouchplugin.so
tmp/vscode/build/plugins/generic/libqtuiotouchplugin.so.debug
tmp/vscode/build/plugins/geometryloaders/libdefaultgeometryloader.so
tmp/vscode/build/plugins/geometryloaders/libdefaultgeometryloader.so.debug
tmp/vscode/build/plugins/geometryloaders/libgltfgeometryloader.so
tmp/vscode/build/plugins/geometryloaders/libgltfgeometryloader.so.debug
tmp/vscode/build/plugins/geoservices/libqtgeoservices_esri.so
tmp/vscode/build/plugins/geoservices/libqtgeoservices_esri.so.debug
tmp/vscode/build/plugins/geoservices/libqtgeoservices_itemsoverlay.so
tmp/vscode/build/plugins/geoservices/libqtgeoservices_itemsoverlay.so.debug
tmp/vscode/build/plugins/geoservices/libqtgeoservices_mapbox.so
tmp/vscode/build/plugins/geoservices/libqtgeoservices_mapbox.so.debug
tmp/vscode/build/plugins/geoservices/libqtgeoservices_mapboxgl.so
tmp/vscode/build/plugins/geoservices/libqtgeoservices_mapboxgl.so.debug
tmp/vscode/build/plugins/geoservices/libqtgeoservices_nokia.so
tmp/vscode/build/plugins/geoservices/libqtgeoservices_nokia.so.debug
tmp/vscode/build/plugins/geoservices/libqtgeoservices_osm.so
tmp/vscode/build/plugins/geoservices/libqtgeoservices_osm.so.debug
tmp/vscode/build/plugins/iconengines/libqsvgicon.so
tmp/vscode/build/plugins/iconengines/libqsvgicon.so.debug
tmp/vscode/build/plugins/imageformats/libqgif.so
tmp/vscode/build/plugins/imageformats/libqgif.so.debug
tmp/vscode/build/plugins/imageformats/libqicns.so
tmp/vscode/build/plugins/imageformats/libqicns.so.debug
tmp/vscode/build/plugins/imageformats/libqico.so
tmp/vscode/build/plugins/imageformats/libqico.so.debug
tmp/vscode/build/plugins/imageformats/libqjpeg.so
tmp/vscode/build/plugins/imageformats/libqjpeg.so.debug
tmp/vscode/build/plugins/imageformats/libqpdf.so.debug
tmp/vscode/build/plugins/imageformats/libqsvg.so
tmp/vscode/build/plugins/imageformats/libqsvg.so.debug
tmp/vscode/build/plugins/imageformats/libqtga.so
tmp/vscode/build/plugins/imageformats/libqtga.so.debug
tmp/vscode/build/plugins/imageformats/libqtiff.so
tmp/vscode/build/plugins/imageformats/libqtiff.so.debug
tmp/vscode/build/plugins/imageformats/libqwbmp.so
tmp/vscode/build/plugins/imageformats/libqwbmp.so.debug
tmp/vscode/build/plugins/imageformats/libqwebp.so
tmp/vscode/build/plugins/imageformats/libqwebp.so.debug
tmp/vscode/build/plugins/mediaservice/libgstaudiodecoder.so
tmp/vscode/build/plugins/mediaservice/libgstaudiodecoder.so.debug
tmp/vscode/build/plugins/mediaservice/libgstcamerabin.so
tmp/vscode/build/plugins/mediaservice/libgstcamerabin.so.debug
tmp/vscode/build/plugins/mediaservice/libgstmediacapture.so
tmp/vscode/build/plugins/mediaservice/libgstmediacapture.so.debug
tmp/vscode/build/plugins/mediaservice/libgstmediaplayer.so
tmp/vscode/build/plugins/mediaservice/libgstmediaplayer.so.debug
tmp/vscode/build/plugins/platforminputcontexts/libcomposeplatforminputcontextplugin.so
tmp/vscode/build/plugins/platforminputcontexts/libcomposeplatforminputcontextplugin.so.debug
tmp/vscode/build/plugins/platforminputcontexts/libibusplatforminputcontextplugin.so
tmp/vscode/build/plugins/platforminputcontexts/libibusplatforminputcontextplugin.so.debug
tmp/vscode/build/plugins/platforminputcontexts/libqtvirtualkeyboardplugin.so
tmp/vscode/build/plugins/platforminputcontexts/libqtvirtualkeyboardplugin.so.debug
tmp/vscode/build/plugins/platforms/libqeglfs.so
tmp/vscode/build/plugins/platforms/libqeglfs.so.debug
tmp/vscode/build/plugins/platforms/libqlinuxfb.so
tmp/vscode/build/plugins/platforms/libqlinuxfb.so.debug
tmp/vscode/build/plugins/platforms/libqminimal.so
tmp/vscode/build/plugins/platforms/libqminimal.so.debug
tmp/vscode/build/plugins/platforms/libqminimalegl.so
tmp/vscode/build/plugins/platforms/libqminimalegl.so.debug
tmp/vscode/build/plugins/platforms/libqoffscreen.so
tmp/vscode/build/plugins/platforms/libqoffscreen.so.debug
tmp/vscode/build/plugins/platforms/libqvnc.so
tmp/vscode/build/plugins/platforms/libqvnc.so.debug
tmp/vscode/build/plugins/platforms/libqwayland-egl.so
tmp/vscode/build/plugins/platforms/libqwayland-egl.so.debug
tmp/vscode/build/plugins/platforms/libqwayland-generic.so
tmp/vscode/build/plugins/platforms/libqwayland-generic.so.debug
tmp/vscode/build/plugins/platforms/libqwayland-xcomposite-egl.so
tmp/vscode/build/plugins/platforms/libqwayland-xcomposite-egl.so.debug
tmp/vscode/build/plugins/platforms/libqwayland-xcomposite-glx.so
tmp/vscode/build/plugins/platforms/libqwayland-xcomposite-glx.so.debug
tmp/vscode/build/plugins/platforms/libqwebgl.so
tmp/vscode/build/plugins/platforms/libqwebgl.so.debug
tmp/vscode/build/plugins/platforms/libqxcb.so
tmp/vscode/build/plugins/platforms/libqxcb.so.debug
tmp/vscode/build/plugins/platformthemes/libqgtk3.so
tmp/vscode/build/plugins/platformthemes/libqgtk3.so.debug
tmp/vscode/build/plugins/platformthemes/libqxdgdesktopportal.so
tmp/vscode/build/plugins/platformthemes/libqxdgdesktopportal.so.debug
tmp/vscode/build/plugins/playlistformats/libqtmultimedia_m3u.so
tmp/vscode/build/plugins/playlistformats/libqtmultimedia_m3u.so.debug
tmp/vscode/build/plugins/position/libqtposition_geoclue.so
tmp/vscode/build/plugins/position/libqtposition_geoclue.so.debug
tmp/vscode/build/plugins/position/libqtposition_geoclue2.so
tmp/vscode/build/plugins/position/libqtposition_geoclue2.so.debug
tmp/vscode/build/plugins/position/libqtposition_positionpoll.so
tmp/vscode/build/plugins/position/libqtposition_positionpoll.so.debug
tmp/vscode/build/plugins/position/libqtposition_serialnmea.so
tmp/vscode/build/plugins/position/libqtposition_serialnmea.so.debug
tmp/vscode/build/plugins/printsupport/libcupsprintersupport.so
tmp/vscode/build/plugins/printsupport/libcupsprintersupport.so.debug
tmp/vscode/build/plugins/qmltooling/libqmldbg_debugger.so
tmp/vscode/build/plugins/qmltooling/libqmldbg_debugger.so.debug
tmp/vscode/build/plugins/qmltooling/libqmldbg_inspector.so
tmp/vscode/build/plugins/qmltooling/libqmldbg_inspector.so.debug
tmp/vscode/build/plugins/qmltooling/libqmldbg_local.so
tmp/vscode/build/plugins/qmltooling/libqmldbg_local.so.debug
tmp/vscode/build/plugins/qmltooling/libqmldbg_messages.so
tmp/vscode/build/plugins/qmltooling/libqmldbg_messages.so.debug
tmp/vscode/build/plugins/qmltooling/libqmldbg_native.so
tmp/vscode/build/plugins/qmltooling/libqmldbg_native.so.debug
tmp/vscode/build/plugins/qmltooling/libqmldbg_nativedebugger.so
tmp/vscode/build/plugins/qmltooling/libqmldbg_nativedebugger.so.debug
tmp/vscode/build/plugins/qmltooling/libqmldbg_preview.so
tmp/vscode/build/plugins/qmltooling/libqmldbg_preview.so.debug
tmp/vscode/build/plugins/qmltooling/libqmldbg_profiler.so
tmp/vscode/build/plugins/qmltooling/libqmldbg_profiler.so.debug
tmp/vscode/build/plugins/qmltooling/libqmldbg_quickprofiler.so
tmp/vscode/build/plugins/qmltooling/libqmldbg_quickprofiler.so.debug
tmp/vscode/build/plugins/qmltooling/libqmldbg_server.so
tmp/vscode/build/plugins/qmltooling/libqmldbg_server.so.debug
tmp/vscode/build/plugins/qmltooling/libqmldbg_tcp.so
tmp/vscode/build/plugins/qmltooling/libqmldbg_tcp.so.debug
tmp/vscode/build/plugins/renderers/libopenglrenderer.so
tmp/vscode/build/plugins/renderers/libopenglrenderer.so.debug
tmp/vscode/build/plugins/renderplugins/libscene2d.so
tmp/vscode/build/plugins/renderplugins/libscene2d.so.debug
tmp/vscode/build/plugins/sceneparsers/libgltfsceneexport.so
tmp/vscode/build/plugins/sceneparsers/libgltfsceneexport.so.debug
tmp/vscode/build/plugins/sceneparsers/libgltfsceneimport.so
tmp/vscode/build/plugins/sceneparsers/libgltfsceneimport.so.debug
tmp/vscode/build/plugins/sensorgestures/libqtsensorgestures_plugin.so
tmp/vscode/build/plugins/sensorgestures/libqtsensorgestures_plugin.so.debug
tmp/vscode/build/plugins/sensorgestures/libqtsensorgestures_shakeplugin.so
tmp/vscode/build/plugins/sensorgestures/libqtsensorgestures_shakeplugin.so.debug
tmp/vscode/build/plugins/sensors/libqtsensors_generic.so
tmp/vscode/build/plugins/sensors/libqtsensors_generic.so.debug
tmp/vscode/build/plugins/sensors/libqtsensors_iio-sensor-proxy.so
tmp/vscode/build/plugins/sensors/libqtsensors_iio-sensor-proxy.so.debug
tmp/vscode/build/plugins/sensors/libqtsensors_linuxsys.so
tmp/vscode/build/plugins/sensors/libqtsensors_linuxsys.so.debug
tmp/vscode/build/plugins/sqldrivers/libqsqlite.so
tmp/vscode/build/plugins/sqldrivers/libqsqlite.so.debug
tmp/vscode/build/plugins/sqldrivers/libqsqlodbc.so
tmp/vscode/build/plugins/sqldrivers/libqsqlodbc.so.debug
tmp/vscode/build/plugins/sqldrivers/libqsqlpsql.so
tmp/vscode/build/plugins/sqldrivers/libqsqlpsql.so.debug
tmp/vscode/build/plugins/texttospeech/libqtexttospeech_speechd.so
tmp/vscode/build/plugins/texttospeech/libqtexttospeech_speechd.so.debug
tmp/vscode/build/plugins/virtualkeyboard/libqtvirtualkeyboard_hangul.so
tmp/vscode/build/plugins/virtualkeyboard/libqtvirtualkeyboard_hangul.so.debug
tmp/vscode/build/plugins/virtualkeyboard/libqtvirtualkeyboard_openwnn.so
tmp/vscode/build/plugins/virtualkeyboard/libqtvirtualkeyboard_openwnn.so.debug
tmp/vscode/build/plugins/virtualkeyboard/libqtvirtualkeyboard_pinyin.so
tmp/vscode/build/plugins/virtualkeyboard/libqtvirtualkeyboard_pinyin.so.debug
tmp/vscode/build/plugins/virtualkeyboard/libqtvirtualkeyboard_tcime.so
tmp/vscode/build/plugins/virtualkeyboard/libqtvirtualkeyboard_tcime.so.debug
tmp/vscode/build/plugins/virtualkeyboard/libqtvirtualkeyboard_thai.so
tmp/vscode/build/plugins/virtualkeyboard/libqtvirtualkeyboard_thai.so.debug
tmp/vscode/build/plugins/wayland-decoration-client/libbradient.so
tmp/vscode/build/plugins/wayland-decoration-client/libbradient.so.debug
tmp/vscode/build/plugins/wayland-graphics-integration-client/libdmabuf-server.so
tmp/vscode/build/plugins/wayland-graphics-integration-client/libdmabuf-server.so.debug
tmp/vscode/build/plugins/wayland-graphics-integration-client/libdrm-egl-server.so
tmp/vscode/build/plugins/wayland-graphics-integration-client/libdrm-egl-server.so.debug
tmp/vscode/build/plugins/wayland-graphics-integration-client/libqt-plugin-wayland-egl.so
tmp/vscode/build/plugins/wayland-graphics-integration-client/libqt-plugin-wayland-egl.so.debug
tmp/vscode/build/plugins/wayland-graphics-integration-client/libshm-emulation-server.so
tmp/vscode/build/plugins/wayland-graphics-integration-client/libshm-emulation-server.so.debug
tmp/vscode/build/plugins/wayland-graphics-integration-client/libvulkan-server.so
tmp/vscode/build/plugins/wayland-graphics-integration-client/libvulkan-server.so.debug
tmp/vscode/build/plugins/wayland-graphics-integration-client/libxcomposite-egl.so
tmp/vscode/build/plugins/wayland-graphics-integration-client/libxcomposite-egl.so.debug
tmp/vscode/build/plugins/wayland-graphics-integration-client/libxcomposite-glx.so
tmp/vscode/build/plugins/wayland-graphics-integration-client/libxcomposite-glx.so.debug
tmp/vscode/build/plugins/wayland-graphics-integration-server/libqt-wayland-compositor-dmabuf-server-buffer.so
tmp/vscode/build/plugins/wayland-graphics-integration-server/libqt-wayland-compositor-dmabuf-server-buffer.so.debug
tmp/vscode/build/plugins/wayland-graphics-integration-server/libqt-wayland-compositor-drm-egl-server-buffer.so
tmp/vscode/build/plugins/wayland-graphics-integration-server/libqt-wayland-compositor-drm-egl-server-buffer.so.debug
tmp/vscode/build/plugins/wayland-graphics-integration-server/libqt-wayland-compositor-linux-dmabuf-unstable-v1.so
tmp/vscode/build/plugins/wayland-graphics-integration-server/libqt-wayland-compositor-linux-dmabuf-unstable-v1.so.debug
tmp/vscode/build/plugins/wayland-graphics-integration-server/libqt-wayland-compositor-shm-emulation-server.so
tmp/vscode/build/plugins/wayland-graphics-integration-server/libqt-wayland-compositor-shm-emulation-server.so.debug
tmp/vscode/build/plugins/wayland-graphics-integration-server/libqt-wayland-compositor-vulkan-server.so
tmp/vscode/build/plugins/wayland-graphics-integration-server/libqt-wayland-compositor-vulkan-server.so.debug
tmp/vscode/build/plugins/wayland-graphics-integration-server/libqt-wayland-compositor-wayland-egl.so
tmp/vscode/build/plugins/wayland-graphics-integration-server/libqt-wayland-compositor-wayland-egl.so.debug
tmp/vscode/build/plugins/wayland-graphics-integration-server/libqt-wayland-compositor-wayland-eglstream-controller.so
tmp/vscode/build/plugins/wayland-graphics-integration-server/libqt-wayland-compositor-wayland-eglstream-controller.so.debug
tmp/vscode/build/plugins/wayland-graphics-integration-server/libqt-wayland-compositor-xcomposite-egl.so
tmp/vscode/build/plugins/wayland-graphics-integration-server/libqt-wayland-compositor-xcomposite-egl.so.debug
tmp/vscode/build/plugins/wayland-graphics-integration-server/libqt-wayland-compositor-xcomposite-glx.so
tmp/vscode/build/plugins/wayland-graphics-integration-server/libqt-wayland-compositor-xcomposite-glx.so.debug
tmp/vscode/build/plugins/wayland-shell-integration/libfullscreen-shell-v1.so
tmp/vscode/build/plugins/wayland-shell-integration/libfullscreen-shell-v1.so.debug
tmp/vscode/build/plugins/wayland-shell-integration/libivi-shell.so
tmp/vscode/build/plugins/wayland-shell-integration/libivi-shell.so.debug
tmp/vscode/build/plugins/wayland-shell-integration/libwl-shell.so
tmp/vscode/build/plugins/wayland-shell-integration/libwl-shell.so.debug
tmp/vscode/build/plugins/wayland-shell-integration/libxdg-shell-v5.so
tmp/vscode/build/plugins/wayland-shell-integration/libxdg-shell-v5.so.debug
tmp/vscode/build/plugins/wayland-shell-integration/libxdg-shell-v6.so
tmp/vscode/build/plugins/wayland-shell-integration/libxdg-shell-v6.so.debug
tmp/vscode/build/plugins/wayland-shell-integration/libxdg-shell.so
tmp/vscode/build/plugins/wayland-shell-integration/libxdg-shell.so.debug
tmp/vscode/build/plugins/webview/libqtwebview_webengine.so
tmp/vscode/build/plugins/webview/libqtwebview_webengine.so.debug
tmp/vscode/build/plugins/xcbglintegrations/libqxcb-egl-integration.so
tmp/vscode/build/plugins/xcbglintegrations/libqxcb-egl-integration.so.debug
tmp/vscode/build/plugins/xcbglintegrations/libqxcb-glx-integration.so
tmp/vscode/build/plugins/xcbglintegrations/libqxcb-glx-integration.so.debug
tmp/vscode/build/twebrtc_autogen/deps
tmp/vscode/build/twebrtc_autogen/moc_predefs.h
tmp/vscode/build/twebrtc_autogen/mocs_compilation.cpp
tmp/vscode/build/twebrtc_autogen/timestamp
tmp/vscode/build/twebrtc_autogen/D72IQXBNBH/moc_signaling_client.cpp
tmp/vscode/build/twebrtc_autogen/D72IQXBNBH/moc_signaling_client.cpp.d
tmp/vscode/build/twebrtc_autogen/D72IQXBNBH/moc_WebsocketClient.cpp
tmp/vscode/build/twebrtc_autogen/D72IQXBNBH/moc_WebsocketClient.cpp.d
tmp/vscode/build/twebrtc_autogen/UYX5XTB5RZ/moc_widg.cpp
tmp/vscode/build/twebrtc_autogen/UYX5XTB5RZ/moc_widg.cpp.d
tmp/vscode/build/twebrtc_autogen/include/ui_widg.h
